body {
    margin: 0;
    background: black;
    overflow-x: hidden;
    overflow-y: hidden;
}

.hide {

    display: none;
}

#screen {
    background-size: 100%;
    width: 100vw;
    height: 56.25vw;
    margin: auto;
    position: relative;
    z-index: 0;
    background-repeat: no-repeat;


}


#menu_background {
    background-image: url(Faerdige_svgfiler/titelscreenbaggrund.svg);
    background-size: 100%;
    width: 100vw;
    height: 56.25vw;
    margin: auto;
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;

}


#oelkasse {
    background-image: url(Faerdige_svgfiler/%C3%98lkasse.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 45vw;
    width: 24vw;
    margin: auto;
    position: absolute;
    z-index: 3;
    top: 36.6vw;
    left: 26vw;

}



#menu_foreground_start {
    background-image: url(Faerdige_svgfiler/Startknap.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 45vw;
    width: 18vw;
    margin: auto;
    position: absolute;
    z-index: 4;
    top: 47.5vw;
    left: 29.15vw;

}

#menu_foreground_settings {
    background-image: url(Faerdige_svgfiler/settingsikon.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 45vw;
    width: 7vw;
    margin: auto;
    position: absolute;
    z-index: 1;
    top: 0.3vw;
    left: 0.1vw;


}



#vejskilt {
    background-image: url(Faerdige_svgfiler/%C3%98leller%C3%B8vskilt.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 45vw;
    width: 38vw;
    margin: auto;
    position: absolute;
    z-index: 2;
    top: 11vw;
    left: 24vw;


}

#karakter {
    background-image: url(Faerdige_svgfiler/Karakteren.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 45vw;
    width: 24vw;
    margin: auto;
    position: absolute;
    z-index: 2;
    top: 11.2vw;
    left: 54vw;


}


#game {
    background-size: 100%;
    width: 100vw;
    height: 56.25vw;
    margin: auto;
    position: relative;
    z-index: 0;


}

#game_background {
    background-image: url(Faerdige_svgfiler/Spilsk%C3%A6rmbaggrund2.svg);
    background-size: cover;
    width: 100%;
    height: 56.25vw;

    margin: auto;
    position: absolute;
    z-index: 0;

}

#game_middleground {
    background-image: url(Faerdige_svgfiler/Beercrate_background.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 46.7vw;
    height: 53vw;
    margin: auto;
    position: absolute;
    z-index: 1;
    top: 5.039vw;
    left: 29.9vw;


}

#game_foreground {
    background-image: url(Faerdige_svgfiler/Beercrate_foreground.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 48.8vw;
    height: 53vw;
    margin: auto;
    position: absolute;
    z-index: 3;
    top: 5vw;
    left: 28vw;


}


#game_foreground_graes1 {
    background-image: url(Faerdige_svgfiler/Gr%C3%A6s.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 20vw;
    height: 53vw;
    margin: auto;
    position: absolute;
    z-index: 4;
    top: 34.45vw;
    left: 24.6vw;

}

#game_foreground_graes2 {
    background-image: url(Faerdige_svgfiler/Gr%C3%A6s.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 19vw;
    height: 53vw;
    margin: auto;
    position: absolute;
    z-index: 4;
    top: 39.9vw;
    left: 62.3vw;
    transform: scaleX(-1);

}

#game_elements {
    background-size: cover;
    width: 100%;
    height: 56.25vw;
    margin: auto;
    position: relative;
    z-index: 2;

}



#oel1 {
    background-image: url(Faerdige_svgfiler/%C3%98lperspektiv.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8vw;
    height: 53vw;
    margin: auto;
    position: absolute;
    z-index: 3;
    top: 27vw;
    left: 45vw;




}

#oel2 {
    background-image: url(Faerdige_svgfiler/%C3%98lperspektiv.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8vw;
    height: 53vw;
    margin: auto;
    position: absolute;
    z-index: 2;
    top: 25vw;
    left: 42vw;


}

#oel3 {
    background-image: url(Faerdige_svgfiler/%C3%98lperspektiv.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8vw;
    height: 53vw;
    margin: auto;
    position: absolute;
    z-index: 1;
    top: 22vw;
    left: 39vw;



}

#oel4 {
    background-image: url(Faerdige_svgfiler/Halv%C3%B8l.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8vw;
    height: 53vw;
    margin: auto;
    position: absolute;
    z-index: 0;
    top: 18.7vw;
    left: 36vw;


}

#oel5 {
    background-image: url(Faerdige_svgfiler/Halv%C3%B8l.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 9vw;
    height: 53vw;
    margin: auto;
    position: absolute;
    z-index: -1;
    top: 15vw;
    left: 32vw;


}

#oel6 {
    background-image: url(Faerdige_svgfiler/%C3%98lperspektiv.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8vw;
    height: 53vw;
    margin: auto;
    position: absolute;
    z-index: 3;
    top: 25.4vw;
    left: 49.5vw;


}

#oel7 {
    background-image: url(Faerdige_svgfiler/%C3%98lperspektiv.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8vw;
    height: 53vw;
    margin: auto;
    position: absolute;
    z-index: 1;
    top: 23vw;
    left: 46vw;


}

#oel8 {
    background-image: url(Faerdige_svgfiler/%C3%98lperspektiv.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8vw;
    height: 53vw;
    margin: auto;
    position: absolute;
    z-index: 0;
    top: 20vw;
    left: 42.8vw;


}

#oel9 {
    background-image: url(Faerdige_svgfiler/%C3%98lperspektiv.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8vw;
    height: 53vw;
    margin: auto;
    position: absolute;
    z-index: -1;
    top: 16.5vw;
    left: 39.6vw;


}

#oel10 {
    background-image: url(Faerdige_svgfiler/%C3%98lperspektiv.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8vw;
    height: 53vw;
    margin: auto;
    position: absolute;
    z-index: -2;
    top: 13.5vw;
    left: 36.5vw;


}

#oel11 {
    background-image: url(Faerdige_svgfiler/%C3%98lperspektiv.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8vw;
    height: 53vw;
    margin: auto;
    position: absolute;
    z-index: 2;
    top: 24vw;
    left: 53.7vw;


}

#oel12 {
    background-image: url(Faerdige_svgfiler/%C3%98lperspektiv.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8vw;
    height: 53vw;
    margin: auto;
    position: absolute;
    z-index: 1;
    top: 21.4vw;
    left: 50vw;


}

#oel13 {
    background-image: url(Faerdige_svgfiler/%C3%98lperspektiv.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8vw;
    height: 53vw;
    margin: auto;
    position: absolute;
    z-index: 0;
    top: 18.5vw;
    left: 47vw;



}

#oel14 {
    background-image: url(Faerdige_svgfiler/%C3%98lperspektiv.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8vw;
    height: 53vw;
    margin: auto;
    position: absolute;
    z-index: -1;
    top: 15vw;
    left: 44vw;


}

#oel15 {
    background-image: url(Faerdige_svgfiler/%C3%98lperspektiv.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8vw;
    height: 53vw;
    margin: auto;
    position: absolute;
    z-index: -2;
    top: 11.8vw;
    left: 41vw;


}

#oel16 {
    background-image: url(Faerdige_svgfiler/%C3%98lperspektiv.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8vw;
    height: 53vw;
    margin: auto;
    position: absolute;
    z-index: 1;
    top: 22.2vw;
    left: 57.5vw;


}

#oel17 {
    background-image: url(Faerdige_svgfiler/%C3%98lperspektiv.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8vw;
    height: 53vw;
    margin: auto;
    position: absolute;
    z-index: 0;
    top: 19.6vw;
    left: 54vw;


}

#oel18 {
    background-image: url(Faerdige_svgfiler/%C3%98lperspektiv.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8vw;
    height: 53vw;
    margin: auto;
    position: absolute;
    z-index: -1;
    top: 16.8vw;
    left: 50.9vw;


}

#oel19 {
    background-image: url(Faerdige_svgfiler/%C3%98lperspektiv.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8vw;
    height: 53vw;
    margin: auto;
    position: absolute;
    z-index: -2;
    top: 13.5vw;
    left: 47.8vw;


}

#oel20 {
    background-image: url(Faerdige_svgfiler/%C3%98lperspektiv.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8vw;
    height: 53vw;
    margin: auto;
    position: absolute;
    z-index: -3;
    top: 10vw;
    left: 44.8vw;


}

#oel21 {
    background-image: url(Faerdige_svgfiler/%C3%98lperspektiv.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8vw;
    height: 53vw;
    margin: auto;
    position: absolute;
    z-index: 0;
    top: 21vw;
    left: 61.3vw;


}

#oel22 {
    background-image: url(Faerdige_svgfiler/%C3%98lperspektiv.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8vw;
    height: 53vw;
    margin: auto;
    position: absolute;
    z-index: -1;
    top: 18vw;
    left: 58vw;


}

#oel23 {
    background-image: url(Faerdige_svgfiler/%C3%98lperspektiv.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8vw;
    height: 53vw;
    margin: auto;
    position: absolute;
    z-index: -2;
    top: 15.1vw;
    left: 55vw;


}

#oel24 {
    background-image: url(Faerdige_svgfiler/%C3%98lperspektiv.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8vw;
    height: 53vw;
    margin: auto;
    position: absolute;
    z-index: -3;
    top: 12.1vw;
    left: 52vw;


}

#oel25 {
    background-image: url(Faerdige_svgfiler/%C3%98lperspektiv.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8vw;
    height: 53vw;
    margin: auto;
    position: absolute;
    z-index: -4;
    top: 8.8vw;
    left: 48.7vw;


}

#elefantoel {

    background-image: url(Faerdige_svgfiler/Flaskeelefant.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8vw;
    height: 53vw;
    margin: auto;
    position: absolute;
    z-index: 1;
    top: 8.8vw;
    left: 85vw;



}


#game_ui {
    background-size: cover;
    width: 100%;
    height: 10vw;
    margin: auto;
    position: absolute;
    z-index: 0;
    left: 1vw;
    top: 1vw;



}

#heart {
    background-image: url(Faerdige_svgfiler/Hjerte.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8vw;
    height: 53vw;
    margin: auto;
    position: absolute;
    z-index: 1;
    top: 0vw;
    left: 2.4vw;



}

#heart2 {
    background-image: url(Faerdige_svgfiler/Hjerte.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8vw;
    height: 53vw;
    margin: auto;
    position: absolute;
    z-index: 1;
    top: 0vw;
    left: 10.4vw;



}

#heart3 {
    background-image: url(Faerdige_svgfiler/Hjerte.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8vw;
    height: 53vw;
    margin: auto;
    position: absolute;
    z-index: 1;
    top: 0vw;
    left: 18.4vw;



}



#oelpoint {
    background-image: url(Faerdige_svgfiler/Flaskeelefant.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 2.7vw;
    height: 53vw;
    margin: auto;
    position: absolute;
    z-index: 1;
    top: 8vw;
    left: 5vw;

}

#timer {
    font-family: 'Source Sans Pro', sans-serif;

    font-size: 5vw;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 2.7vw;
    height: 53vw;
    margin: auto;
    position: absolute;
    z-index: 1;
    top: 5vw;
    left: 9vw;
    color: white
}

#tekst {

    font-family: 'Source Sans Pro', sans-serif;

    font-size: 5vw;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 2.7vw;
    height: 53vw;
    margin: auto;
    position: absolute;
    z-index: 1;
    top: -4.5vw;
    left: 82.2vw;
    color: white
}

#settings {

    background-size: 100%;
    width: 100vw;
    height: 56.25vw;
    margin: auto;
    position: relative;
    z-index: 0;

}

#settingsmenubaggrund {

    background-image: url(Faerdige_svgfiler/Spilsk%C3%A6rmbaggrund2.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 56.25vw;
    margin: auto;
    position: absolute;
    z-index: 1;
}

#settingsmenu {

    background-image: url(Faerdige_svgfiler/Settings.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 35vw;
    height: 56.25vw;
    margin: auto;
    position: absolute;
    z-index: 1;
    top: -0.4vw;
    left: 30vw;
}

#exit {

    background-image: url(Faerdige_svgfiler/exit.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 6vw;
    height: 56.25vw;
    margin: auto;
    position: absolute;
    z-index: 1;
    top: 0.5vw;
    left: 0.5vw;

}

#checkmark1 {

    background-image: url(Faerdige_svgfiler/checkmark.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 9vw;
    height: 56.25vw;
    margin: auto;
    position: absolute;
    z-index: 3;
    top: 30vw;
    left: 31vw;

}

#checkmark2 {

    background-image: url(Faerdige_svgfiler/checkmark.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 9vw;
    height: 56.25vw;
    margin: auto;
    position: absolute;
    z-index: 3;
    top: 16vw;
    left: 31vw;

}

#gameover {

    background-size: 100%;
    width: 100vw;
    height: 56.25vw;
    margin: auto;
    position: relative;
    z-index: 0;
}

/*
#spilbaggrund {

    background-image: url(Faerdige_svgfiler/Spilsk%C3%A6rmbaggrund.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 56.25vw;
    margin: auto;
    position: absolute;
}*/


#gameoverskilt {

    background-image: url(Faerdige_svgfiler/Gameover.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 85vw;
    height: 56.25vw;
    margin: auto;
    position: absolute;
    z-index: 3;
    top: 7vw;
    left: 15.5vw
}


#vinder {

    background-image: url(Faerdige_svgfiler/Vinderskilt.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 85vw;
    height: 56.25vw;
    margin: auto;
    position: absolute;
    z-index: 3;
    top: 7vw;
    left: 15.5vw
}

.fade_in {

    animation-name: fade_in_kf;
    animation-duration: 0.4s;
    animation-iteration-count: 1;


}


@keyframes fade_in_kf {
    0% {

        opacity: 0;
    }

    100% {
        opacity: 1;

    }
}




.fade_out {

    animation-name: fade_out_kf;
    animation-duration: 1s;

    animation-iteration-count: 1;



}


@keyframes fade_out_kf {
    100% {

        opacity: 0;
    }

    0% {
        opacity: 1;

    }
}
